<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="prob1_try2_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <prob1_try2_.Properties.Settings>
            <setting name="prob1_try2__footballService_FootballService" serializeAs="String">
                <value>http://34.229.220.156/FootballWebService/Footballservice.asmx</value>
            </setting>
        </prob1_try2_.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FootballServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="FootballServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://34.229.220.156/FootballWebService/Footballservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="FootballServiceSoap"
                contract="goon.FootballServiceSoap" name="FootballServiceSoap" />
            <endpoint address="http://34.229.220.156/FootballWebService/Footballservice.asmx"
                binding="customBinding" bindingConfiguration="FootballServiceSoap12"
                contract="goon.FootballServiceSoap" name="FootballServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>