<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IOperationOrder" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57247/OperationOrder.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOperationOrder"
                contract="OperationOrdService.IOperationOrder" name="WSHttpBinding_IOperationOrder">
                <identity>
                    <userPrincipalName value="BGANEK@corp.thealliedgrp.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>